<div id="app">
    <!-- Statusbar overlay -->
    <div class="statusbar"></div>

    <!-- Your main view, should have "view-main" class -->
    <div class="view view-main">

      <home-page key="home"></home-page>
      <about-page key="about"></about-page>
      <setting-page key="setting"></setting-page>
      <login-page key="login"></login-page>
    </div>
  </div>